table > thead > tr > th{
    text-align: center;
    background-color: #514943;
    color: white;
    cursor: pointer;
}
img#crud{
    width:100px;
}
.data-grid-thumbnail-ceil{
    text-align: center;
}
td , th{
    border: 1px solid rgb(224, 213, 213);
}
div.page-title-wrapper{
    display: none;
}