<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="Dev_Crud::menu"
            title="CRUD"
            module="Dev_Crud"
            sortOrder="10"
            resource="Dev_Crud::menu"
        />
        <add 
            id="Dev_Crud::manager" 
            title="Manager" 
            translate="title" 
            module="Dev_Crud" 
            parent="Dev_Crud::menu" 
            sortOrder="00" 
            dependsOnModule="Dev_Crud" 
            resource="Dev_Crud::manager"
        />
        <add 
            id="Dev_Crud::index" 
            title="View Users Data" 
            module="Dev_Crud" 
            sortOrder="20" 
            parent="Dev_Crud::manager" 
            action="crud/crud/index" 
            resource="Dev_Crud::index"
        />
        <add 
            id="Dev_Crud::add" 
            title="Add New User" 
            module="Dev_Crud" 
            sortOrder="20" 
            parent="Dev_Crud::manager" 
            action="crud/crud/add" 
            resource="Dev_Crud::add"
        />
        <add 
            id="Dev_Crud::settings" 
            title="Settings" 
            translate="title" 
            module="Dev_Crud" 
            parent="Dev_Crud::menu" 
            sortOrder="30" 
            dependsOnModule="Dev_Crud" 
            resource="Dev_Crud::settings"
        />
	    <add 
            id="Dev_Crud::rows_config" 
            title="Configuration" 
            translate="title" 
            module="Dev_Crud" 
            parent="Dev_Crud::settings" 
            sortOrder="40" 
            dependsOnModule="Dev_Crud" 
            action="adminhtml/system_config/edit/section/dev_crud" 
            resource="Dev_Crud::rows_config"
        />
        <add 
            id="Dev_Crud::cache_manage" 
            title="Cache Management" 
            translate="title" 
            module="Dev_Crud" 
            parent="Dev_Crud::settings" 
            sortOrder="40" 
            dependsOnModule="Dev_Crud" 
            action="admin/cache/index" 
            resource="Dev_Crud::cache_manage"
        />
    </menu>
</config>